body {
    font-family: 'Inter', sans-serif;
    overflow: auto;
    height: 100%;
}

.lang {
    display: none;
}

.steps-container {
  height: 100vh;
    padding: 8em 2em 2em 2em;
}

.title {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 4vw;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 30px;
}

.steps-wrapper {
  position: relative;
}

.step {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-left: 5vw;
  gap: 10px;
  width: 100%;
}

.circl-line{
    /* position: relative; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.step-circle {
    width: 30px;
    height: 30px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.step-line {
  width: 2px;
  height: 100%;
  background-color: #fff;
  /* transform: translateX(-50%); */
}

.step-content {
  /* margin-top: 1rem; */
  color: #fff;
}

.step-heading {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.desc-im {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 30px;
}

.step-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.step-image img {
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.last-p {
    color: #fff;
    padding: 50px 0;
}

/* Responsive adjustments */
@media (max-width: 900px) {
    .title h1 {
        font-size: 8vw;
    }

    .desc-im {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        gap: 30px;
    }
  
}

